/*  2014-03-01  {_V01} calendar.html */
/*  фигня решение, хоть и рабочее  */

/*  контейнер для календаря  */
table {
	width: 90%;
	margin: 0 auto;
	margin-top:20px;
	margin-bottom:20px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
	border-collapse: collapse;
}

/*  ячейки календаря  */
td {
	height: 50px;
	padding: 0 20px;
	border: 1px solid #cdcdcd;
	text-align: center; 
	vertical-align: middle;
}

/*  выделение каждой ячейки с 3-й по 7-ю строки 3 и каждой ячейки с 1-й по 4-ю строки 5  */
tr:nth-child(3) td:nth-child(3), tr:nth-child(3) td:nth-child(4), tr:nth-child(3) td:nth-child(5), tr:nth-child(3) td:nth-child(6), tr:nth-child(3) td:nth-child(7), tr:nth-child(5) td:nth-child(1), tr:nth-child(5) td:nth-child(2), tr:nth-child(5) td:nth-child(3), tr:nth-child(5) td:nth-child(4) {
	background-color: #fea480;
}

/*  выделение всей строки 4  */
tr:nth-child(4) {
	background-color: #fea480;
	}