 /*  2014-03-20  { Solution_v03. }    calendar.html  */
 /*  TODO: найти способ убрать расстояние после clear: both;  */
 /*  + Хочется найти другой способ задать сетку.
	 Текущее решение: граница у всех дочерних <span> + фиксирование размера всех символов в таблице 1.1em + &nbsp; в пустых ячейках + подбор ширины родительского контейнера 16.9em  */

/*  контейнер для календаря  */
.calendar {
	width: 16.9em;
	margin: 3em auto;
	display: table;
	background-color: #fff;
	-webkit-box-shadow: 0px 3px 4px #ccc;
	-moz-box-shadow: 0px 3px 4px #ccc;
	box-shadow: 0px 3px 4px #ccc;
}

/*  ячейки календаря  */
.calendar > span {
	padding: 0.3em;
	background-color: #ccc;
    float: left;
    text-align: right;
	font-family: Helvetica, Arial;
	font-size: 1.1em;
	border: 1px solid #999;
	color: #333;
	/*  скругленные ячейки, не принципиально, просто бантик =) */
	border-radius: 10%;
}

/*  новая строка с каждого седьмого элемента  */
.calendar > span:nth-child(7n+1) {
    clear: both;
}

/*  равная ширина элемента  */
.calendar > span:after {
	content: "ПН";
	position: relative;
	display: block;
    margin-top: -1.30em;
    opacity: 0;
}

/*  цвет фона (белый как у страницы) от начала до 16-го элемента (7-е число), и от конца до 10-го (22-е число)  */
.calendar > span:nth-of-type(-1n+16), .calendar > span:nth-last-of-type(-1n+10) {
	background-color: #fff;
}